:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.routerLink {
  color: #718096;
  font-weight: bold;
  display: flex;
  align-items: center;
}

button.logout-button {
  color: #718096;
  font-weight: bold;
  border: none;
  transition: all 0.25s ease-in;
  background: transparent;
  padding: 0;
}

button.logout-button:hover {
  background: transparent;
  opacity: 0.8;
}

.routerLink:hover {
  opacity: 0.8;
}
